<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/image1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        tools:targetApi="31">
        <activity
            android:name=".UserDetail"
            android:label="@string/title_activity_detail_user"
            android:parentActivityName=".User.UserHome"
            />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:parentActivityName=".DetailActivity"/>
        <activity
            android:name=".Editprofile"
            android:exported="false"
            />
        <activity
            android:name=".User.UserHome"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".HomeDashboard">

        </activity>


        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:parentActivityName=".HomeDashboard"/>
        <activity
            android:name=".HomeDashboard"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
        android:name=".NavagationActivity"
        android:exported="true">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



    </application>

</manifest>